body {
    background-color: rgba(211, 211, 222, 0.305);
}
input {
    box-shadow:  2px 5px rgba(130, 100, 194, 0.2);
    max-width: 100%;
}
img {
    width: 100%; 
    max-width: 400px;
}
p {
    color: rgba(47, 37, 113, 0.974);
}
button {
    width: 100%; 
    max-width: 150px;
    overflow: hidden;
}
.check, .reload {
    border: none;
    outline: none;
    background-color: #4a0099a9;
    box-shadow: 2px 3px rgba(130, 100, 194, 0.2);
    margin: auto;
}
.check:hover, .reload:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    background-color: #792e7fc6;
    color: rgb(255, 255, 255);
} 
.check:active, .reload:active {
    background-color: rgba(92, 29, 159, 0.804)  !important;
}
